/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

/** GWTBootstrap3 SuggestBox */
.dropdown-menu .item {
  padding: 5px;
}

/** GWTBootstrap3 SuggestBox */
.dropdown-menu .item-selected {
  background-color: #eee;
}

.popover-title {
	display: none;
}

.webapps-popover-outer-div {
	font-family: arial,sans-serif;
	font-size: 13px;
	white-space: nowrap;
	text-align: left;
	line-height: normal;
	transition: height .2s ease-in-out;
	-moz-user-select: text;
	border-radius: 2px;
	animation: gb__a .2s;
	top: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
	outline: none;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	color: #000;
	border-color: rgba(0,0,0,.2);
	border: 1px solid #ccc;
	background: #fff;
	width: 320px;
	overflow-y: auto;
	min-height: 196px;
	display: block;
}
.webapps-popover-unnumbered-list {
	position: relative;
	display: block;
	background: #fff;
	margin: 0;
	min-height:100px;
	padding: 28px;
	padding-right: 27px;
	top-align: left;
	white-space: normal;
	width: 265px;
	border: 0;
}

.webapps-popover-list-item {
	padding: 1px;
	display: inline-block;
	vertical-align: top;
	color: black;
	z-index: 999;
	height: 98px;
	width: 86px;
	margin: 0;
	border: 0;
}

.webapps-popover-a-1-1 {
	transform: translate(0px, 0px);
}

.webapps-popover-a-1-2 {
	transform: translate(88px, 0px);
}

.webapps-popover-a-1-3 {
	transform: translate(176px, 0px);
}

.webapps-popover-a-2-1 {
	transform: translate(0px, 100px);
}

.webapps-popover-a-2-2 {
	transform: translate(88px, 100px);
}

.webapps-popover-a-2-3 {
	transform: translate(176px, 100px);
}

.webapps-popover-a-3-1 {
	transform: translate(0px, 200px);
}
.webapps-popover-a {
	white-space: normal;
	line-height: normal;
	display: inline-block;
	font-size: 13px;
	margin: 8px 2px;
	text-align: center;
	outline: none;
	position: absolute;
	top: 28px;
	left: 28px;
	transition: transform 0.2s cubic-bezier(0.333, 0, 0, 1) 0s;
	color: #404040;
	text-decoration: none;
}

.webapps-popover-list-item-div-1 {
	position: relative;
	top: 27px;
	visibility: hidden;
	float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #4273db;
}

.webapps-popover-list-item-div-2 {
	position: relative;
	top: 27px;
	visibility: hidden;
	float: right;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4273db;
}

.webapps-popover-list-item-div-3 {
	left: 37px;
	visibility: hidden;
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #4273db;
}

.webapps-popover-list-item-div-4 {
	left: 37px;
	visibility: hidden;
	position: absolute;
	top: 59px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #4273db;
}

.webapps-popover-list-item-image {
	display: inline-block;
	vertical-align: top;
	height: 64px;
	width: 64px;
}

.webapps-popover-list-item-text {
	display: block;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	width: 84px;
	text-overflow: ellipsis;
}